asgiref==3.9.1
beautifulsoup4==4.13.4
certifi==2025.8.3
charset-normalizer==3.4.2
croniter==6.0.0
Django==5.2.5
django-nested-admin==4.1.1
django-polymorphic==4.1.0
django-taggit==6.1.0
idna==3.10
json5==0.12.0
pillow==11.3.0
python-dateutil==2.9.0.post0
python-monkey-business==1.1.0
pytz==2025.2
requests==2.32.4
ruff==0.12.8
six==1.17.0
soupsieve==2.7
sqlparse==0.5.3
taggit-selectize==2.11.0
typing_extensions==4.14.1
urllib3==2.5.0
whitenoise==6.9.0